@font-face {
    font-family: 'OpenSans-Regular';
    src: url(OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url(OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto-Light';
    src: url(Roboto-Light.ttf);
}

body {
    background: #fff;
    color: #444;
    font-family: 'OpenSans-Bold';
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto-Light';
}
h6 {
    font-family: 'Roboto-Regular';
}

p {
    font-family: 'OpenSans-Regular';
}
.overlay {
	overflow: hidden;
}
.separator {
    border: 0;
    height: 0;
    border-top: 1px solid #E1E1E1;
}

p, .section-header p {
    font-size: 16px !important;
    color: #8B8F9A !important;
}

.section-header {
    margin-bottom: 60px;

}

/*--------------------------------------*/

#header {
	height: 80px;
	background-color: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 10px;
}

.header-down {
	height: 60px !important;
	padding: 0px !important;
}
.logo img{
	margin-top: -8px;
	height: 75px;
}
.main-nav {
	padding-top: 4.5px;
	margin: 0 45px;
    font-weight: bolder;
}
.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.main-nav li {
  float: left;
}
.main-nav li a {
    display: block;
    color: #8B8F9A;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
.main-nav li a:hover, .main-nav .active > a {
    color: #6F0521;
}
.main-nav a {
    font-weight: bold;
    color: #8B8F9A;
    font-size: 14px
}
.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #74b5fc;
    text-decoration: none;
}
.custom-btn {
    z-index: 99999;
	margin-top:10px;
	background: #113253;
    padding: .60rem 25px;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    -webkit-box-shadow: 0px 0px 15px 10px #D4DCF1;
    -moz-box-shadow: 0px 0px 15px 10px #D4DCF1;
    box-shadow: 0px 0px 15px 10px #D4DCF1;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-btn:hover {
    background: #1B4B7C;
    color: #FFF;
}

@media (max-width: 992px) {
	.main-nav, .custom-btn{
		display: none;
	}
	#header {
		height: 60px !important;
	padding: 0px !important;
	}

	.mobile-nav-btn {
		display: block;
	}
}

@media (min-width: 992px) {
	.mobile-nav-btn {
		display: none;
	}
}

.mobile-nav-btn {
	color: #1B4B7C;
	position: fixed;
    right: 0;
    top: 0;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
    margin: 18px 18px 0 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    left: -260px;
    width: 260px;
    padding-top: 18px;
    background: rgba(19, 39, 57, 0.8);
    transition: 0.4s;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
    font-family: 'OpenSans-Regular';
}
.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav-overlay {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(19, 39, 57, 0.8);
    overflow: hidden;
    display: none;
}

/*intro start*/

#intro {
	background: url(../images/hero__chart.svg) no-repeat center bottom;
    background-size: contain;
    padding: 180px 0 230px;
    width: 100%;
    position: relative;
}

.intro-item {
    text-align: center;
    display: block;
    width: 100%;
    height: auto;
}

.intro-item-content {
    width: 50%;
    margin: 0 auto;
}

.intro-item-content h6 {
    font-size: 12px;
    font-weight: 900;
    color: #B6BAC7;
    letter-spacing: 0.1em;
}

.intro-item-content h2 {
    font-size: 48px;
    font-weight: 300 !important;
    color: #600018;
    text-align: center;
}

.intro-item-content p {
    margin-top: 40px;
    font-size: 16px !important;
    color: #8B8F9A !important;
}

.intro-item-content h6, .intro-item-content h2, .intro-item-content p {
    margin-bottom: 20px;
}

.intro-container {
    padding-bottom: 58px;
}

@media (max-width: 992px) {
    .intro-item-content {
        width: 100%;
    }
}

/*intro end*/

#testimonials {
    padding-top: 60px;
    padding-bottom: 20px;
}

.testimonial-quotes {
    padding: 60px 0 0;
}

.clients-logo {
    height: 50px;
    margin-bottom: 100px;
}
.tallbase-logo {
    height: 80px;
}
.bing-logo {
    height: 90px;
}

.acuin-logo {
    max-width: 100%;
}

@media (max-width: 992px) {
    .testimonials {
        padding-top: 0px;
    }
}

.testimonial-item p {
    margin-top: -15px;
    width: 100%;
}

.testimonial-item {
    padding: 0 60px;
    width: 100%;
}

.img-stars-container {
    margin: 30px auto;
    display: block;
    width: 100%;
    text-align: center;
}

.img-stars {
    display: inline-block !important;
    width: 120px !important;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}
.testimonial-img {
    width: 120px;
    margin:auto;
}

.testimonial-img img {
    border-radius: 50% !important;
}

#testimonials .owl-dots {
    margin-top: 20px;
    text-align: center;
}

#testimonials .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

#testimonials .owl-dot.active {
  background-color: #996170;
}
    
.service-card {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    height: 300px;
}

#services .service-card:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.service-content {
    margin: 0 auto;
}

#services .card-title {
    color: #600018;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

#service .card-text {
    font-size: 16px !important;
    color: #8B8F9A !important;
}

.software-title-card {
    padding: 20px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
}

.software-title-icon {
    margin-left: 10px;
    display: inline;
    margin-right: 25px;
}

.software-title-name {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: inline-block;
}

.software-title-content h5{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #600018;
    cursor: auto;
    display: inline;
    text-transform: uppercase;
}

.software-card {
    background: #FAFAFA;
    margin: 30px auto;
    padding: 30px;
    height: 200px;
    border-radius: 10px;
}
.card-body {
    padding: 0px;
    width: 100%;
    display: inline;
}
.card-img-top {
    margin-top: 5px;
    margin-bottom: 10px;
}
.software-firebase {
    width: 50%;
    display: block;
    margin:auto;
    margin-top: 5px;
    display: block;
    margin-bottom: 10px;
}

.software-html, .software-css, .software-java  {
    width: 70%;
}

.software-gulp {
    width: 50%;
}


.project-container {
    overflow: hidden;
    position: relative;
    border-radius: 6px;
    margin: 0;
}

.project-list {
    overflow: hidden;
    margin-bottom: 30px;
}
.project-image {

}

.project-info-content h4 {
    font-family: 'Roboto-Regular';
    font-weight: bold;
    font-size: 22px;
    line-height: 1.5em;
}

.project-info-content p {
    margin-top:20px;
    color:#e2effe !important;
    text-transform: uppercase;
}
.project-info-content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.project-info {
    position: absolute;
    text-align: center;
    top: 0%;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.2s linear;
    color:white;
    opacity: 1;
}

.content-text {
    display: none;
}

.project-info:hover {
    background: rgba(0, 49, 102, 0.5)
}

.project-info:hover .content-text{
    display: block;
}

.project-list-a {
    margin-top: -281px;
}

@media (max-width: 992px) {
    .project-list-a {
        margin-top: 0px;
    }
}

#contact .form input, #contact .form textarea {
    padding: 1rem 1rem;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #B6BAC7;
    border-left: 1px solid transparent;
}
#contact .form textarea {
    min-height: 150px;
}
#contact .form input, #contact .form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}
.form-control {
    font-family: 'Roboto-Light';
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.contact-details__text-title span {
    margin-left: 20px;
    margin-top:-20px;
    color: #600018;
    font-weight: 600;
    font-family: Roboto-Light;
}

#contact .form input :focus, #contact .form textarea:focus, #contact .form input:hover, #contact .form textarea:hover {
    border-bottom: 2px solid #600018;
}


.reach-us {
    margin-top: 40px;
}

.contact-details__text-content {
    margin-left: 74px;
}

.reach-us-email {
    text-transform: lowercase;
    font-weight: 400;
}

.social-links {
    margin: 30px;
    margin-left: 74px;
}
.social-links a{
    margin-right: 30px;
    color:#B6BAC7;
}
.social-links a:hover{
    color:#600018;
}

.facebook {
    margin-right: 20px;
}

.reach-us-phone {
    margin-left:20px;
}

button, input {
    overflow: visible;
}

footer {
    margin-top: 50px;
    background: #600018;
    color: #fff;
    text-align: center;
    padding: 30px 0 30px 0;
    font-family: 'OpenSans-Regular';
    font-size: 14px;
    letter-spacing: 0.3px;
}


/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (max-width: 991px) {
    #header {
        height: 60px;
        padding: 10px 0;
    }

    #header .logo h1 {
        font-size: 28px;
        padding: 8px 0;
    }

    #intro {
        padding: 140px 0 60px 0;
    }

    #intro .intro-img {
        width: 80%;
        float: none;
        margin: 0 auto 25px auto;
    }

    #intro .intro-info {
        width: 80%;
        float: none;
        margin: auto;
        text-align: center;
    }

    #why-us .card {
        margin: 0;
    }
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

@media (max-width: 767px) {
    #intro .intro-item-content {
        width: 100%;
    }
    .intro-container {
        margin-bottom: 45px;
    }
    #intro .intro-item-content h2 {
        font-size: 34px;
        margin-bottom: 30px;
    }
    .section-header p {
        width: 100%;
    }
    #testimonials .testimonial-item {
        text-align: center;
    }
    #testimonials .testimonial-item .testimonial-img {
        float: none;
        margin: auto;
    }
    #testimonials .testimonial-item h3,
    #testimonials .testimonial-item h4,
    #testimonials .testimonial-item p {
        margin-left: 0;
    }
}

#about-us, #projects, #services, #software, #contact {
    padding-top: 80px;
    margin-bottom: 80px;
}
.tell-us-btn {
    margin-top: -40px;
}

@media (max-width: 574px) {
  #intro {
    padding: 100px 0 20px 0;
  }
}

.section-header h6 {
    font-family: Roboto-Light;
    font-size: 12px;
    font-weight: 600;
    color: #B6BAC7;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}
.section-header h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 300;
    color: #600018;
    text-align: center;
}
.text-italic {
    font-style: italic;
}
